In [34]:
import pandas as pd
import matplotlib.pyplot as plt
from src.filepaths import filepaths

In [35]:
df = pd.read_csv(
    filepath_or_buffer=filepaths.artifacts / "241212_negative_sampling_mlflow_pull.csv",
    sep=','
)
df.head()

,Start Time,Duration,Run ID,Name,Source Type,Source Name,User,Status,X_d_transform,batch_norm,...,epoch,train_loss,val/accuracy,val/binary_precision,val/binary_recall,val/f1,val/mcc,val/prc,val/roc,val_loss
0,2024-12-11 15:31:53,5.8h,68800af4ce7e436ebda7c6e8c6a8d8b8,worried-mole-939,LOCAL,/home/spn1560/.conda/envs/hiec/lib/python3.11/...,spn1560,FINISHED,NaN,True,...,24,0.220830,0.834326,0.943988,0.710727,0.808269,0.689030,0.942464,0.943319,0.808269
1,2024-12-11 14:52:16,4.6h,3cb0c0c5eb1e4fbaadc2c06a77a3cbe3,burly-boar-340,LOCAL,/home/spn1560/.conda/envs/hiec/lib/python3.11/...,spn1560,FINISHED,NaN,True,...,24,0.004144,0.817445,0.967201,0.657907,0.780277,0.669413,0.943694,0.947590,0.780277
2,2024-12-11 14:47:50,4.6h,b0fca57ef1a84d5da5b9428ea45c0373,abundant-fly-718,LOCAL,/home/spn1560/.conda/envs/hiec/lib/python3.11/...,spn1560,FINISHED,NaN,True,...,24,0.005891,0.814134,0.977600,0.644002,0.773177,0.667538,0.949903,0.950091,0.773177
3,2024-12-11 14:43:57,4.5h,05a94e6791d54bb5aab06885634d65c6,rogue-conch-393,LOCAL,/home/spn1560/.conda/envs/hiec/lib/python3.11/...,spn1560,FINISHED,NaN,True,...,24,0.009433,0.790301,0.978624,0.594200,0.736088,0.630020,0.949026,0.944624,0.736088
4,2024-12-11 14:14:03,6.0h,f9c472cbec764ca3a23a3bc79c772d23,dapper-bat-813,LOCAL,/home/spn1560/.conda/envs/hiec/lib/python3.11/...,spn1560,FINISHED,NaN,True,...,24,0.032939,0.843915,0.971414,0.710204,0.817379,0.715572,0.950585,0.947261,0.817379

In [36]:
# Pivot

ptable = pd.pivot_table(
    data=df,
    index='data/neg_multiple',
    columns='training/pos_multiplier',
    values=['val/binary_precision', 'val/f1', 'val/binary_recall', 'val/prc', 'val/roc'],
    aggfunc='mean',
    sort=True
)
ptable

                        val/binary_precision                                \
training/pos_multiplier                   1         3         5         10
data/neg_multiple
1                                   0.937851  0.936601  0.931629  0.916248
3                                   0.970699  0.963844  0.962170  0.950753
5                                   0.975411  0.974116  0.964519  0.944527

                        val/binary_recall                                \
training/pos_multiplier                1         3         5         10
data/neg_multiple
1                                0.661979  0.668729  0.718169  0.730822
3                                0.562058  0.599757  0.632593  0.655649
5                                0.542066  0.564432  0.607307  0.658279

                           val/f1                                 val/prc  \
training/pos_multiplier        1         3         5         10        1
data/neg_multiple
1                        0.771135  0.775574  0.806218  0.808540  0.918860
3                        0.704082  0.733552  0.757523  0.770668  0.937322
5                        0.687829  0.705132  0.739030  0.771020  0.931951

                                                        val/roc            \
training/pos_multiplier        3         5         10        1         3
data/neg_multiple
1                        0.923882  0.924233  0.917467  0.920606  0.927842
3                        0.930160  0.930838  0.927333  0.936015  0.924312
5                        0.930398  0.934462  0.929059  0.922398  0.923677


training/pos_multiplier        5         10
data/neg_multiple
1                        0.930147  0.921800
3                        0.925033  0.920701
5                        0.933186  0.929288

In [37]:
# ptable = ptable.swaplevel(axis=1)
# ptable

In [38]:
ptable.columns

MultiIndex([('val/binary_precision',  1),
            ('val/binary_precision',  3),
            ('val/binary_precision',  5),
            ('val/binary_precision', 10),
            (   'val/binary_recall',  1),
            (   'val/binary_recall',  3),
            (   'val/binary_recall',  5),
            (   'val/binary_recall', 10),
            (              'val/f1',  1),
            (              'val/f1',  3),
            (              'val/f1',  5),
            (              'val/f1', 10),
            (             'val/prc',  1),
            (             'val/prc',  3),
            (             'val/prc',  5),
            (             'val/prc', 10),
            (             'val/roc',  1),
            (             'val/roc',  3),
            (             'val/roc',  5),
            (             'val/roc', 10)],
           names=[None, 'training/pos_multiplier'])

In [39]:
# Sort

col_srt_key = {
    'val/binary_precision': 0,
    'val/f1': 2,
    'val/binary_recall': 1,
    'val/prc': 3,
    'val/roc': 4
}

ptable = ptable.sort_index(axis=1, level=0, sort_remaining=False).sort_index(axis=1, level=1, key=lambda x : x.map(col_srt_key), sort_remaining=False)
ptable

                        val/binary_precision                                \
training/pos_multiplier                   1         3         5         10
data/neg_multiple
1                                   0.937851  0.936601  0.931629  0.916248
3                                   0.970699  0.963844  0.962170  0.950753
5                                   0.975411  0.974116  0.964519  0.944527

                        val/binary_recall                                \
training/pos_multiplier                1         3         5         10
data/neg_multiple
1                                0.661979  0.668729  0.718169  0.730822
3                                0.562058  0.599757  0.632593  0.655649
5                                0.542066  0.564432  0.607307  0.658279

                           val/f1                                 val/prc  \
training/pos_multiplier        1         3         5         10        1
data/neg_multiple
1                        0.771135  0.775574  0.806218  0.808540  0.918860
3                        0.704082  0.733552  0.757523  0.770668  0.937322
5                        0.687829  0.705132  0.739030  0.771020  0.931951

                                                        val/roc            \
training/pos_multiplier        3         5         10        1         3
data/neg_multiple
1                        0.923882  0.924233  0.917467  0.920606  0.927842
3                        0.930160  0.930838  0.927333  0.936015  0.924312
5                        0.930398  0.934462  0.929059  0.922398  0.923677


training/pos_multiplier        5         10
data/neg_multiple
1                        0.930147  0.921800
3                        0.925033  0.920701
5                        0.933186  0.929288

In [40]:
# Rename

col_rename = {
    'val/binary_precision': 'Precision',
    'val/f1': 'F1',
    'val/binary_recall': 'Recall',
    'val/prc': 'AUPRC',
    'val/roc': 'AUROC'
}
ptable.rename(
    columns=col_rename,
    level=0,
    inplace=True
)

ptable.index.name = "Negative multiple"
ptable.columns.names = [None, "Positive multiplier"]

ptable

                    Precision                                  Recall  \
Positive multiplier        1         3         5         10        1
Negative multiple
1                    0.937851  0.936601  0.931629  0.916248  0.661979
3                    0.970699  0.963844  0.962170  0.950753  0.562058
5                    0.975411  0.974116  0.964519  0.944527  0.542066

                                                         F1            \
Positive multiplier        3         5         10        1         3
Negative multiple
1                    0.668729  0.718169  0.730822  0.771135  0.775574
3                    0.599757  0.632593  0.655649  0.704082  0.733552
5                    0.564432  0.607307  0.658279  0.687829  0.705132

                                            AUPRC                      \
Positive multiplier        5         10        1         3         5
Negative multiple
1                    0.806218  0.808540  0.918860  0.923882  0.924233
3                    0.757523  0.770668  0.937322  0.930160  0.930838
5                    0.739030  0.771020  0.931951  0.930398  0.934462

                                  AUROC
Positive multiplier        10        1         3         5         10
Negative multiple
1                    0.917467  0.920606  0.927842  0.930147  0.921800
3                    0.927333  0.936015  0.924312  0.925033  0.920701
5                    0.929059  0.922398  0.923677  0.933186  0.929288

In [41]:
# Style

# idx = pd.IndexSlice # For greater flexibility selecting across 2 dims

s = ptable.style

s.format(precision=3)

metrics = set(ptable.columns.get_level_values(0))

for m in metrics:
    if m == 'Precision':
        continue

    s.set_table_styles(
        {
            (m, 1): [
                {'selector': 'th', 'props': 'border-left: 1px solid black'},
                {'selector': 'td', 'props': 'border-left: 1px solid #000066'}
            ]
        }, 
        overwrite=False,
        axis=0
    )


for m in metrics:
    s.highlight_max(axis=None, subset=[m], props='font-weight:bold;background-color:lightgreen')
s